JCILVendorPortal/Web References/Serv_Vendor/WS_NAV_Vendor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/ws_nav_vendor" targetNamespace="urn:microsoft-dynamics-schemas/page/ws_nav_vendor" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/ws_nav_vendor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Application_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Apply_to_Oldest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Partner_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Account_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Saving" />
          <xsd:enumeration value="Current" />
          <xsd:enumeration value="CC" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Vendor_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Manufacturer" />
          <xsd:enumeration value="First_Stage_Dealer" />
          <xsd:enumeration value="Second_Stage_Dealer" />
          <xsd:enumeration value="Importer" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="P_A_N_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="PANAPPLIED" />
          <xsd:enumeration value="PANINVALID" />
          <xsd:enumeration value="PANNOTAVBL" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="WS_NAV_Vendor">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transporter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Primary_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Balance_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Change_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Change" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Main_Payment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sub_Payment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchaser_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Responsibility_Center" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="tns:Blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Aging_Report" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Modify_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_Page" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STD_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Structure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSI" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSI_Validity_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Excise_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Disc_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prices_Including_VAT" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Method" type="tns:Application_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Partner_Type" type="tns:Partner_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Priority" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IFSC_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Type" type="tns:Account_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Branch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Flow_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Our_Account_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_No_RTGS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Email_RTGS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Block_Payment_Tolerance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creditor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Preferred_Bank_Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customized_Calendar" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Registration_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="L_S_T_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="C_S_T_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_C_C_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Range" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Collectorate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Type" type="tns:Vendor_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="T_I_N_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Composition" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="P_A_N_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="P_A_N_Status" type="tns:P_A_N_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="P_A_N_Reference_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Service_Entity_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Service_Tax_Registration_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Subcontractor" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Commissioner_x0027_s_Permission_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rework_Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MSME_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SIA_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PF_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ESI_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Authorised_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reference_Code_Internal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reference_Code_External" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ex_Reference_Mobile_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PDPName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PDPPhoneNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PDPMobileNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PDPEmailID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Dept_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Dept_PhoneNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Dept_MobileNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Dept_EmailID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Dept_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Dept_PhoneNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Dept_MobileNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Dept_EmailID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WS_NAV_Vendor_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="WS_NAV_Vendor_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Address" />
          <xsd:enumeration value="Address_2" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="Country_Region_Code" />
          <xsd:enumeration value="State_Code" />
          <xsd:enumeration value="Transporter" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="Primary_Contact_No" />
          <xsd:enumeration value="Contact" />
          <xsd:enumeration value="Search_Name" />
          <xsd:enumeration value="Balance_LCY" />
          <xsd:enumeration value="Balance" />
          <xsd:enumeration value="Net_Change_LCY" />
          <xsd:enumeration value="Net_Change" />
          <xsd:enumeration value="Main_Payment" />
          <xsd:enumeration value="Sub_Payment" />
          <xsd:enumeration value="Purchaser_Code" />
          <xsd:enumeration value="Responsibility_Center" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Aging_Report" />
          <xsd:enumeration value="Created_By" />
          <xsd:enumeration value="Created_Date" />
          <xsd:enumeration value="Modify_By" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Fax_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Home_Page" />
          <xsd:enumeration value="IC_Partner_Code" />
          <xsd:enumeration value="STD_Code" />
          <xsd:enumeration value="Mobile_No" />
          <xsd:enumeration value="Pay_to_Vendor_No" />
          <xsd:enumeration value="Tax_Liable" />
          <xsd:enumeration value="Structure" />
          <xsd:enumeration value="SSI" />
          <xsd:enumeration value="SSI_Validity_Date" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="VAT_Bus_Posting_Group" />
          <xsd:enumeration value="Excise_Bus_Posting_Group" />
          <xsd:enumeration value="Vendor_Posting_Group" />
          <xsd:enumeration value="Invoice_Disc_Code" />
          <xsd:enumeration value="Prices_Including_VAT" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="Application_Method" />
          <xsd:enumeration value="Partner_Type" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Priority" />
          <xsd:enumeration value="IFSC_Code" />
          <xsd:enumeration value="Account_Type" />
          <xsd:enumeration value="Bank_Name" />
          <xsd:enumeration value="Bank_Branch" />
          <xsd:enumeration value="Cash_Flow_Payment_Terms_Code" />
          <xsd:enumeration value="Our_Account_No" />
          <xsd:enumeration value="Mobile_No_RTGS" />
          <xsd:enumeration value="Email_RTGS" />
          <xsd:enumeration value="Block_Payment_Tolerance" />
          <xsd:enumeration value="Creditor_No" />
          <xsd:enumeration value="Preferred_Bank_Account" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Lead_Time_Calculation" />
          <xsd:enumeration value="Base_Calendar_Code" />
          <xsd:enumeration value="Customized_Calendar" />
          <xsd:enumeration value="Language_Code" />
          <xsd:enumeration value="VAT_Registration_No" />
          <xsd:enumeration value="L_S_T_No" />
          <xsd:enumeration value="C_S_T_No" />
          <xsd:enumeration value="E_C_C_No" />
          <xsd:enumeration value="Range" />
          <xsd:enumeration value="Collectorate" />
          <xsd:enumeration value="Vendor_Type" />
          <xsd:enumeration value="T_I_N_No" />
          <xsd:enumeration value="Composition" />
          <xsd:enumeration value="P_A_N_No" />
          <xsd:enumeration value="P_A_N_Status" />
          <xsd:enumeration value="P_A_N_Reference_No" />
          <xsd:enumeration value="Service_Entity_Type" />
          <xsd:enumeration value="Service_Tax_Registration_No" />
          <xsd:enumeration value="Subcontractor" />
          <xsd:enumeration value="Vendor_Location" />
          <xsd:enumeration value="Commissioner_x0027_s_Permission_No" />
          <xsd:enumeration value="Rework_Location" />
          <xsd:enumeration value="MSME_No" />
          <xsd:enumeration value="SIA_No" />
          <xsd:enumeration value="PF_No" />
          <xsd:enumeration value="ESI_No" />
          <xsd:enumeration value="Authorised_By" />
          <xsd:enumeration value="Reference_Code_Internal" />
          <xsd:enumeration value="Reference_Code_External" />
          <xsd:enumeration value="Ex_Reference_Mobile_No" />
          <xsd:enumeration value="PDPName" />
          <xsd:enumeration value="PDPPhoneNo" />
          <xsd:enumeration value="PDPMobileNo" />
          <xsd:enumeration value="PDPEmailID" />
          <xsd:enumeration value="Sales_Dept_Name" />
          <xsd:enumeration value="Sales_Dept_PhoneNo" />
          <xsd:enumeration value="Sales_Dept_MobileNo" />
          <xsd:enumeration value="Sales_Dept_EmailID" />
          <xsd:enumeration value="Account_Dept_Name" />
          <xsd:enumeration value="Account_Dept_PhoneNo" />
          <xsd:enumeration value="Account_Dept_MobileNo" />
          <xsd:enumeration value="Account_Dept_EmailID" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="WS_NAV_Vendor_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:WS_NAV_Vendor_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:WS_NAV_Vendor_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:WS_NAV_Vendor_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor_List" type="tns:WS_NAV_Vendor_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor_List" type="tns:WS_NAV_Vendor_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor" type="tns:WS_NAV_Vendor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor_List" type="tns:WS_NAV_Vendor_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="WS_NAV_Vendor_List" type="tns:WS_NAV_Vendor_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="WS_NAV_Vendor_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="WS_NAV_Vendor_Binding" type="tns:WS_NAV_Vendor_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/ws_nav_vendor:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="WS_NAV_Vendor_Service">
    <port name="WS_NAV_Vendor_Port" binding="tns:WS_NAV_Vendor_Binding">
      <address location="http://192.168.6.60:8047/Test_Jay/WS/JAY/Page/WS_NAV_Vendor" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>